@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  html {
    @apply bg-white text-gray-900 dark:bg-black dark:text-white transition-colors duration-300;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-inherit text-inherit antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-[#333];
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-[#555];
}
